# Entorno virtual
.venv/

# Variables de entorno
.env

# Caché y archivos temporales
__pycache__/
*.pyc
*.pyo

# Archivos de base de datos
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Archivos del sistema
Thumbs.db
.DS_Store
